.Navbar
{
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    background-color: #f55a5a;
    color: white;
    font-family: Inter sans-serif;
    font-style:normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    gap: 8px;
}



